---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: certbot
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: certbot
    spec:
      containers:

      - image: registry.gcp.gooz.us/goozbach/certbot_updater:v1.2.1
        name: certbot
        ports:
        - containerPort: 80
        - containerPort: 443
        volumeMounts:
        - mountPath: /etc/letsencrypt
          name: letsencrypt

        - mountPath: /var/www/html
          name: wellknown

        - mountPath: /backup
          name: certbot-backup
        env:
        - name: CERTBOT_DOMAINS
          value: rishi.goozbach.net,blog.goozbach.net,gitlab.goozbach.net,blockgwoodwork.com

      volumes:
      - name: letsencrypt
        hostPath:
          path:  /var/certbot/data

      - name: wellknown
        hostPath:
          path:  /var/certbot/wellknown

      - name: certbot-backup
        hostPath:
          path: /var/backup/certbot
