[user]
	email = derek@goozbach.com
	name = Derek Carter
[gist]
	user = goozbach
[github]
	user = goozbach
[core]
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	root = !pwd
	goroot = !cd $(pwd)
[push]
	default = simple
