---
apiVersion: v1
data:
{% for dude in secrets[item] %}
  {{ dude }}: {{ secrets[item][dude] | b64encode }}
{% endfor %}
kind: Secret
metadata:
  name: {{ item | replace ('_','-') }}.goozbach.net
  namespace: default
